@font-face {
    font-family: "Roboto Medium";
    src: url("/fonts/Roboto-Medium.ttf");
    font-style: normal;
}

@font-face {
    font-family: "RocknRollOne";
    src: url("/fonts/RocknRollOne-Regular.ttf");
    font-style: normal;
}
